<div class="container-fluid contenedor">
  <form role="form" #ngForm='ngForm' [formGroup]="registroForm" class="w-75 m-3">
    <div class="text-center">
      <i class="fa fa-user-plus" style="font-size: 150px;"></i>
      <h1 class="h3 mb-3 font-weight-normal">
        Registrate
      </h1>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputName">
        Nombre:
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="inputName" formControlName="nombre" placeholder="Juan" required>
        <p *ngIf='ngForm.submitted && registroForm.controls.nombre.errors' class="text-danger">no se asigno un nombre</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputLastname">
        Apellido:
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="inputLastname" formControlName="apellido" placeholder="Perez" required>
        <p *ngIf='ngForm.submitted && registroForm.controls.apellido.errors' class="text-danger">no se asigno un apellido</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputFecha">
        Fecha de Nacimiento:
      </label>
      <div class="col-md-9">
        <input type="date" class="form-control" id="inputFecha" formControlName="nacimiento" required min="1900-01-01" [max]="fechaHoy()">
        <p *ngIf='ngForm.submitted && registroForm.controls.nacimiento.errors' class="text-danger">no se asigno una fecha de nacimiento</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputSexo">
        Sexo:
      </label>
      <div class="col-md-9">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sexo" formControlName='sexo' id="RadioM" value="Masculino" [checked]="registroForm.value.sexo === 'Masculino'" (change)="change(registroForm.value.sexo)" />
          <label class="form-check-label" for="RadioM">Masculino</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sexo" formControlName='sexo' id="RadioS" value="Femenino" [checked]="registroForm.value.sexo === 'Femenino'" (change)="change(registroForm.value.sexo)" />
          <label class="form-check-label" for="RadioS">Femenino</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputImg">
        Imagenes:
      </label>
      <div class="col-md-9">
        <p *ngIf='registroForm.value.img1 != "" && registroForm.value.img2 != ""' class="text-success">Imagenes Seleccionadas</p>
        <div class="custom-file form-control">
          <input #fileInp type="file" multiple name="imagen" accept='image/*' id="inputImg" class="custom-file-input" (change)='agregarImagenes($event.target.files)' required>
          <label class="custom-file-label" for="inputImg1">Elige 2 imagenes</label>
        </div>
        <p *ngIf='(ngForm.submitted && (cantImagenes !== 2)) || (cantImagenes !== 2 && cantImagenes !== -1)' class="text-danger">no se asigno la cantidad correcta de imagenes. deben ser especificamente 2</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputRole">
        Tipo de Usuario:
      </label>
      <div class="col-md-9">
        <select class="custom-select" id="inputRole" name="rol" formControlName='rol' required>
          <option value="" selected disabled>Rol del usuario</option>
          <option value="Paciente">Paciente</option>
          <option value="Profesional">Profesional</option>
        </select>
        <p *ngIf='ngForm.submitted && registroForm.controls.rol.errors' class="text-danger">no se selecciono un rol</p>
      </div>
    </div>
    <ng-container *ngIf="registroForm.value.rol === 'Profesional'">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="inputEspecialidades">
          Especialidad/es:
        </label>
        <div id="inputEspecialidades" class="col-md-9">
          <ul>
            <li *ngFor='let especialidad of registroForm.value.especialidades' (click)='editarEspecialidad(especialidad)'>{{especialidad['nombre']}}. longitud de turno: {{especialidad['duracion']}}min.</li>
          </ul>
          <div class="form-group form-inline">
            <label for="iconNuevoE">Agregar Especialidad: </label>
            <div id="iconNuevoE" *ngIf='!nuevaEspecialidad; else especialidadNueva' class="ml-2">
              <button class="btn btn-success" (click)='nuevaEspecialidad = true'><i class="fa fa-plus" style="font-size: 20px;"></i></button>
            </div>
            <ng-template #especialidadNueva>
              <div id="iconNuevoE" class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Nombre</div>
                </div>
                <select class="custom-select" [(ngModel)]='nEspecialidad' [ngModelOptions]="{standalone: true}">
                  <option *ngFor='let esp of espMock; let x = index' id="opcionN-{{x}}" [value]='esp' [selected]='x==="0"'>{{esp}}</option>
                </select>
                <div class="input-group-prepend">
                  <div class="input-group-text">Tiempo(m)</div>
                </div>
                <input type="number" class="form-control" [(ngModel)]='iEspecialidad' [ngModelOptions]="{standalone: true}" min="30" placeholder="tiempo/turno">
                <div class="input-group-append">
                  <button type='button' class="btn btn-danger" (click)='nEspecialidad="CARDIOLOGÍA"; iEspecialidad=30; nuevaEspecialidad= false; cambiarEspecialidad= false' [textContent]='!cambiarEspecialidad?"Cancelar":"Borrar"'></button>
                  <button type='button' class="btn btn-success" (click)='agregarEspecialidad()' [textContent]='!cambiarEspecialidad?"Agregar":"Guardar"'></button>
                </div>
              </div>
            </ng-template>
          </div>
          <p *ngIf='ngForm.submitted && registroForm.controls.especialidades.errors' class="text-danger">no se asigno ninguna especialidad</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="inputHorarios">
          Horarios de Atencion:
        </label>
        <div id="inputHorarios" class="col-md-9">
          <ul>
            <li *ngFor='let horario of registroForm.value.horarios'>{{horario.dia}}, desde las {{horario.desde}}hs hasta las {{horario.hasta}}hs, {{horario.especialidad}}</li>
          </ul>
          <div *ngIf='!registroForm.controls.especialidades.errors' class="form-inline">
            <label for="iconNuevoH">Establecer Horarios: </label>
            <div id="iconNuevoH" *ngIf='!nuevoHorario; else horarioNuevo' class="ml-2">
              <button class="btn btn-primary" (click)='nuevoHorario = true'><i class="fa fa-plus" style="font-size: 20px;"></i></button>
            </div>
          </div>
          <ng-template #horarioNuevo>
            <app-alta-horarios [(nuevoHorario)]='nuevoHorario' [horarios]='registroForm.value.horarios' (horariosChange)='registroForm.controls.horarios.setValue($event)' [especialidades]='registroForm.value.especialidades'></app-alta-horarios>
          </ng-template>
          <p *ngIf='ngForm.submitted && registroForm.controls.horarios.errors' class="text-danger">no se asigno ningun horario de atencion</p>
        </div>
      </div>
    </ng-container>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputEmail">
        Correo Electronico:
      </label>
      <div class="col-md-9">
        <input type="email" class="form-control" id="inputEmail" formControlName="email" placeholder="usuario@email.com" autocomplete="username" required>
        <p *ngIf='ngForm.submitted && registroForm.controls.email.errors' class="text-danger">no se asigno un email</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputPassword">
        Contraseña:
      </label>
      <div class="col-md-9">
        <input type="password" class="form-control" id="inputPassword" formControlName="pass" placeholder="contraseña" autocomplete="new-password" required>
        <p *ngIf='ngForm.submitted && registroForm.controls.pass.errors' class="text-danger">no se asigno una contraseña</p>
      </div>
    </div>
    <div class="form-group">
      <captcha (valorCaptcha)='registroForm.controls.captcha.setValue($event)'></captcha>
      <p *ngIf='ngForm.submitted && registroForm.controls.captcha.errors' class="text-danger">no se verifica el captcha</p>
    </div>
    <div *ngIf='error' class="form-group text-center">
      <label class="text-danger">{{mensajeError}}</label>
    </div>
    <div *ngIf='submit' class="form-group text-center my-3">
      <div class="spinner-border text-success" style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-block" type="submit" (click)="tryRegister(registroForm)">
        registrarse
      </button>
    </div>
  </form>
</div>
