<script *ngIf='!unCaptcha' src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="contenedor">
  <form role="form" #ngForm='ngForm' [formGroup]="registroForm" class="w-50 m-3">
    <div class="text-center">
      <i class="fa fa-user-plus" style="font-size: 150px;"></i>
      <h1 class="h3 mb-3 font-weight-normal">
        Registrate
      </h1>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputName">
        Nombre:
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="inputName" formControlName="nombre" placeholder="Juan" required>
        <p *ngIf='ngForm.submitted && this.registroForm.controls.nombre.errors' class="text-danger">no se asigno un nombre</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputLastname">
        Apellido:
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="inputLastname" formControlName="apellido" placeholder="Perez" required>
        <p *ngIf='ngForm.submitted && this.registroForm.controls.apellido.errors' class="text-danger">no se asigno un apellido</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputDni">
        Dni:
      </label>
      <div class="col-md-9">
        <input type="number" class="form-control" id="inputdni" formControlName="dni" required min="0">
        <p *ngIf='ngForm.submitted && this.registroForm.controls.dni.errors' class="text-danger">no se asigno un dni</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputFecha">
        Fecha de Nacimiento:
      </label>
      <div class="col-md-9">
        <input type="date" class="form-control" id="inputFecha" formControlName="nacimiento" required min="1900-01-01" [max]="fechaHoy()">
        <p *ngIf='ngForm.submitted && this.registroForm.controls.nacimiento.errors' class="text-danger">no se asigno una fecha de nacimiento</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputSexo">
        Sexo:
      </label>
      <div class="col-md-9">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sexo" formControlName='sexo' id="RadioM" value="Masculino" [checked]="registroForm.value.sexo === 'Masculino'" (change)="change(registroForm.value.sexo)" />
          <label class="form-check-label" for="RadioM">Masculino</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sexo" formControlName='sexo' id="RadioS" value="Femenino" [checked]="registroForm.value.sexo === 'Femenino'" (change)="change(registroForm.value.sexo)" />
          <label class="form-check-label" for="RadioS">Femenino</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputImg">
        Imagenes:
      </label>
      <div class="col-md-9">
        <p *ngIf='registroForm.value.img1 != "" && registroForm.value.img2 != ""' class="text-success">Imagenes Seleccionadas</p>
        <div class="custom-file form-control">
          <input #fileInp type="file" multiple name="imagen" accept='image/*' id="inputImg" class="custom-file-input" (change)='agregarImagenes($event.target.files)' required>
          <label class="custom-file-label" for="inputImg1">Elige 2 imagenes</label>
        </div>
        <p *ngIf='cantImagenes != 2' class="text-danger">no se asigno la cantidad correcta de imagenes. deben ser especificamente 2</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputRole">
        Tipo de Usuario:
      </label>
      <div class="col-md-9">
        <select class="custom-select" id="inputRole" name="rol" formControlName='rol' required>
          <option value="" selected disabled>Rol del usuario</option>
          <option value="Paciente">Paciente</option>
          <option value="Profesional">Profesional</option>
        </select>
        <p *ngIf='ngForm.submitted && this.registroForm.controls.rol.errors' class="text-danger">no se selecciono un rol</p>
      </div>
    </div>
    <ng-container *ngIf="registroForm.value.rol === 'Profesional'">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="inputEspecialidades">
          Especialidad/es:
        </label>
        <div id="inputEspecialidades" class="col-md-9">
          <ul>
            <li *ngFor='let especialidad of registroForm.value.especialidades' (click)='editarEspecialidad(especialidad)'>{{especialidad}}</li>
          </ul>
          <div class="form-group form-inline">
            <label for="iconNuevoE">Agregar Especialidad: </label>
            <div id="iconNuevoE" *ngIf='!nuevaEspecialidad; else especialidadNueva' class="ml-2">
              <a (click)='nuevaEspecialidad = true'><i class="fa fa-plus text-success" style="font-size: 30px;"></i></a>
            </div>
            <ng-template #especialidadNueva>
              <div id="iconNuevoE" class="input-group">
                <input type="text" class="form-control" [(ngModel)]='especialidadItem' [ngModelOptions]="{standalone: true}">
                <div class="input-group-append">
                  <button type='button' class="btn btn-danger" (click)='especialidadItem=""; nuevaEspecialidad= false; cambiarEspecialidad= false'>Cancelar</button>
                  <button *ngIf='!cambiarEspecialidad' type='button' class="btn btn-success" (click)='agregarEspecialidad()'>Agregar</button>
                  <button *ngIf='cambiarEspecialidad' type='button' class="btn btn-warning" (click)='agregarEspecialidad()'>Editar</button>
                </div>
              </div>
            </ng-template>
          </div>
          <p *ngIf='ngForm.submitted && this.registroForm.controls.especialidades.errors' class="text-danger">no se asigno ninguna especialidad</p>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="inputHorarios">
          Horarios de Atencion:
        </label>
        <div id="inputHorarios" class="col-md-9">
          <ul>
            <li *ngFor='let horario of registroForm.value.horarios'>{{horario}}</li>
          </ul>
          <div class="form-inline">
            <label for="iconNuevoH">Agregar Horario: </label>
            <div id="iconNuevoH" *ngIf='!nuevoHorario; else horarioNuevo' class="ml-2">
              <a (click)='nuevoHorario = true'><i class="fa fa-plus text-primary" style="font-size: 30px;"></i></a>
            </div>
          </div>
          <ng-template #horarioNuevo>
            <div id="iconNuevoH" class="container border bg-dark rounded py-3 text-white">
              <div *ngFor='let dia of semana; let i = index' class="form-group form-row pb-3">
                <div class="col-md-3">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkDia{{i}}" [(ngModel)]="dia[0]" [ngModelOptions]="{standalone: true}" (change)='checkValue(dia[0])'>
                    <label class="custom-control-label" for="checkDia{{i}}">{{dia[1]}}</label>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <label for="inputDesde-{{i}}" class="col-form-label">Desde</label>
                    <div class="col">
                      <input id="inputDesde-{{i}}" type="time" [(ngModel)]='dia[2]' [ngModelOptions]="{standalone: true}" class="form-control custom-control">
                    </div>
                  </div>
                  <div class="col">
                    <label for="inputHasta-{{i}}" class="col-form-label">Hasta</label>
                    <div class="col">
                      <input id="inputHasta-{{i}}" type="time" [(ngModel)]='dia[3]' [ngModelOptions]="{standalone: true}" class="form-control custom-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-group form-row">
                <div class="col-md">
                  <button type='button' class="btn btn-danger btn-block" (click)='horarioItem=""; nuevoHorario= false'>Cancelar</button>
                </div>
                <div class="col-md">
                  <button type='button' class="btn btn-success btn-block" (click)='generarHorario()'>Generar</button>
                </div>
              </div>
            </div>
          </ng-template>
          <p *ngIf='ngForm.submitted && this.registroForm.controls.horarios.errors' class="text-danger">no se asigno ningun horario de atencion</p>
        </div>
      </div>
    </ng-container>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputEmail">
        Correo Electronico:
      </label>
      <div class="col-md-9">
        <input type="email" class="form-control" id="inputEmail" formControlName="email" placeholder="usuario@email.com" autocomplete="username" required>
        <p *ngIf='ngForm.submitted && this.registroForm.controls.email.errors' class="text-danger">no se asigno un email</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="inputPassword">
        Contraseña:
      </label>
      <div class="col-md-9">
        <input type="password" class="form-control" id="inputPassword" formControlName="pass" placeholder="contraseña" autocomplete="new-password" required>
        <p *ngIf='ngForm.submitted && this.registroForm.controls.pass.errors' class="text-danger">no se asigno una contraseña</p>
      </div>
    </div>
    <div class="form-group">
      <div *ngIf='!unCaptcha'>
        <re-captcha (resolved)="captcha($event)" formControlName="captcha" siteKey='6Lce36UZAAAAAHA_CEJRvzb0QQTt6k5sldGZR_Kz'>
        </re-captcha>
        <p *ngIf='ngForm.submitted && this.registroForm.controls.captcha.errors' class="text-danger">no se verifica el captcha</p>
      </div>
      <button type="button" class="btn btn-danger" (click)="unCaptcha = !unCaptcha">Deshabilitar Captcha</button>
    </div>
    <div *ngIf='error' class="form-group text-center">
      <label class="text-danger">{{mensajeError}}</label>
    </div>
    <div *ngIf='submit' class="text-center">
      <div class="spinner-border text-success" style="width: 5rem; height: 5rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-block" type="submit" (click)="tryRegister(registroForm.value)">
        registrarse
      </button>
    </div>
  </form>
</div>
