<nav>
  <ul class="nav nav-tabs nav-fill" id="nav-tab">
    <li class="nav-item">
      <a class="nav-link" id="nav-usuarios-tab" data-toggle="tab" role="tab" href="#usuarios" (click)='panel = "Usuarios"'>Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nav-historias-tab" data-toggle="tab" role="tab" href="#historias" (click)='panel = "Historias"'>Historias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nav-usuarios-tab" data-toggle="tab" role="tab" href="#encuestas" (click)='panel = "Encuestas"'>Encuestas</a>
    </li>
  </ul>
</nav>
<div id="usuarios">
  <app-tabla-usuarios *ngIf='panel === "Usuarios" && yo.hasOwnProperty("email")' [usuario]='yo'></app-tabla-usuarios>
</div>
<div id="historias">
  <app-tabla-historias *ngIf='panel === "Historias" && yo.hasOwnProperty("email")' [usuario]='yo'></app-tabla-historias>
</div>
<div id="encuestas">
  <app-tabla-encuestas *ngIf='panel === "Encuestas" && yo.hasOwnProperty("email")' [usuario]='yo'></app-tabla-encuestas>
</div>
