.page {
     height: 100%;
     min-width: 100%;
     background-image: url("/assets/home-back.jpg");
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
     background-size: cover;
}