<div *ngIf='paciente !== {}'>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-titulo">
      Historia Clinica
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #ngForm='ngForm' [formGroup]="historiaForm" class="text-center">
      <div class="form-group form-row">
        <label class="col-form-label">
          Nombre del Paciente:
        </label>
        <p class="col">{{paciente.apellido}} {{paciente.nombre}}</p>
      </div>
      <div class="form-group form-row">
        <label class="col-form-label">
          Edad del Paciente:
        </label>
        <p class="col"> {{edad}}</p>
      </div>
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label" for="inputTemperatura">
          Temperatura del Paciente:
        </label>
        <div class="col-md-9">
          <input id='inputTemperatura' type="text" name="temp" class='form-control' formControlName='temperaturaPa'>
          <p *ngIf='ngForm.submitted && this.historiaForm.controls.temperaturaPa.errors' class="text-danger">no se definio la temperatura</p>
        </div>
      </div>
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label" for="inputpresion">
          Presion del Paciente:
        </label>
        <div class="col-md-9">
          <input id='inputpresion' type="text" name="presion" class='form-control' formControlName='precionPa'>
          <p *ngIf='ngForm.submitted && this.historiaForm.controls.precionPa.errors' class="text-danger">no se definio la presion</p>
        </div>
      </div>
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label" for="iconNuevoE">
          Observaciones Extra:
        </label>
        <div class="col-md-9">
          <ul>
            <li *ngFor='let attr of historiaForm.value.atributosDinamicos' (click)='editarAttrDin(attr)'>{{attr[0]}} : {{attr[1]}}</li>
          </ul>
          <div class="form-group form-inline">
            <label for="iconNuevoE">Agregar Observacion: </label>
            <div id="iconNuevoE" *ngIf='!nuevoAttr; else attrNuevo' class="ml-2">
              <a (click)='nuevoAttr = true'><i class="fa fa-plus text-success" style="font-size: 30px;"></i></a>
            </div>
            <ng-template #attrNuevo>
              <div id="iconNuevoE" class="input-group">
                <input type="text" class="form-control" [(ngModel)]='claveAttr' placeholder="observacion" [ngModelOptions]="{standalone: true}">
                <input type="text" class='form-control' [(ngModel)]='valorAttr' placeholder="valor" [ngModelOptions]="{standalone: true}">
                <div class="input-group-append">
                  <button type='button' class="btn btn-danger" (click)='valorAttr=""; claveAttr=""; nuevoAttr= false; cambiarAttr= false'>Cancelar</button>
                </div>
                <div class="input-group-append">
                  <button *ngIf='!cambiarAttr' type='button' class="btn btn-success" (click)='agregarAttrDin()'>Agregar</button>
                  <button *ngIf='cambiarAttr' type='button' class="btn btn-warning" (click)='agregarAttrDin()'>Editar</button>
                </div>
              </div>
            </ng-template>
          </div>
          <p *ngIf='ngForm.submitted && this.historiaForm.controls.atributosDinamicos.errors' class="text-danger">se asignaron demasiadas Observaciones extras (minimo 3)</p>
        </div>
      </div>
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label" for="inputDetalle">
          Detalle del Turno:
        </label>
        <div class="col-md-9">
          <textarea id='inputDetalle' type="textarea" name="temp" class='form-control' formControlName='detallePa'></textarea>
          <p *ngIf='ngForm.submitted && this.historiaForm.controls.detallePa.errors' class="text-danger">no se escribio el detalle</p>
        </div>
      </div>
      <div class="form-group form-row">
        <button type="submit" class="btn btn-success" data-dismiss="modal" (click)='guardarHistoria(historiaForm.value)'>
          Acepto
        </button>
      </div>
    </form>
  </div>
</div>
