<div class="modal-header">
  <h5 class="modal-title" id="modal-titulo">
    Nuevo Turno
  </h5>
</div>
<div class="modal-body text-dark">
  <form role="form" #ngForm='ngForm' [formGroup]="turnoForm">
    <div *ngIf='turnoForm.value.especialidadI !== null' class="form-group">
      <button type="submit" class="btn btn-warning text-left" (click)='turnoRapido()'>
        Turno Rapido
      </button>
    </div>
    <div class="row mx-1">
      <span *ngIf='turnoForm.value.profesional !== null' class="badge badge-pill badge-primary mx-1">{{turnoForm.value.nombreProfesional}}</span>
      <span *ngIf='turnoForm.value.especialidadI !== null' class="badge badge-pill badge-primary mx-1">{{turnoForm.value.especialidadI.nombre}}</span>
      <span *ngIf='turnoForm.value.diaI !== null' class="badge badge-pill badge-primary mx-1">{{ turnoForm.value.diaI | date:'EEE, dd/MM/yyyy'}}</span>
      <span *ngIf='turnoForm.value.horarioI !== null' class="badge badge-pill badge-primary mx-1">{{turnoForm.value.horarioI | date:'HH:mm'}}hs</span>
    </div>
    <div class="contenedor-overflow">
      <div class="row m-3">
        <div class="col-3">
          <div class="list-group">
            <li class="list-group-item list-group-item-primary">Elegir un profesional</li>
            <a *ngFor='let profesional of profesionales' class="list-group-item list-group-item-action" (click)='elegirProfesional(profesional)'>
              <ng-container *ngIf='profesional.habilitado === "Si"'>
                {{profesional.apellido}} {{profesional.nombre}}
              </ng-container>
            </a>
          </div>
          <p *ngIf='submit && turnoForm.controls.profesional.errors' class="text-danger">no se selecciono un profesional</p>
        </div>
        <div *ngIf='turnoForm.value.profesional !== null' class="col-3">
          <div class="list-group">
            <li class="list-group-item list-group-item-primary">Elegir una especialidad</li>
            <a *ngFor='let especialidad of profesionalSeleccionado.especialidades' class="list-group-item list-group-item-action" (click)='obtenerEspecialidad(especialidad)'>
              {{especialidad.nombre}}
            </a>
          </div>
          <p *ngIf='submit && turnoForm.controls.especialidadI.errors' class="text-danger">no se selecciono una especialidad</p>
        </div>
        <div *ngIf='turnoForm.value.especialidadI !== null' class="col-3">
          <div class="list-group">
            <li class="list-group-item list-group-item-primary">Elegir un dia</li>
            <a *ngFor='let dia of profesionalDias' class="list-group-item list-group-item-action" (click)='elegirDia(dia.getTime())'>
              {{dia.getTime() | date:'EEE, dd/MM/yyyy'}}
            </a>
            <p *ngIf='submit && turnoForm.controls.diaI.errors' class="text-danger">no se selecciono un dia</p>
          </div>
        </div>
        <div *ngIf='turnoForm.value.diaI !== null' class="col-3">
          <div class="list-group">
            <li class="list-group-item list-group-item-primary">Elegir un horario</li>
            <a *ngFor='let horario of profesionalHorarios' class="list-group-item list-group-item-action" (click)='turnoForm.controls.horarioI.setValue(horario.getTime())'>
              {{horario.getTime() | date:'HH:mm'}}hs
            </a>
          </div>
          <p *ngIf='submit && turnoForm.controls.horarioI.errors' class="text-danger">no se selecciono un horario</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <captcha (valorCaptcha)='turnoForm.controls.captcha.setValue($event)'></captcha>
      <p *ngIf='submit && turnoForm.controls.captcha.errors' class="text-danger">no se verifica el captcha</p>
    </div>
    <button type="submit" class="btn btn-success float-right" (click)='guardarTurno(turnoForm)'>
      Acepto
    </button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)='resetearForm()' data-dismiss="modal">
    Cerrar
  </button>
</div>
